*{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: black;
}

body{
  height: 100vh;
  background: url(../public/pap.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  touch-action: none;
}


.cover{
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.buttonHome {
    border-radius: 5px;
    padding: 13px;
    margin-top: 10px;
    background-color: #FDACAC;
}

.noBtn {
  background-color: #2792d0;
  border-radius: 5px;
  padding: 13px;
  margin-top: 10px;
}



.rules{
  border: dashed 3px #D02752 ;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
}

.rules p{
  font-size: 10px;
}

.rules button{
  padding: 10px;
  border: solid 1px;
  border-radius: 5px;
  background-color: #FDACAC;

}

