:root {
  --cell: min(calc(844px / 15), calc(260px / 15));
}

.frame {
  width: 844px;
  height: 390px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.maze {
  display: grid;
  margin-top: 8px;
}

.cell {
  width: var(--cell);
  height: var(--cell);
}

.wall { background: #4cc9f0; }
.path { background: #fff; }

.player {
    background: url("../public/boy.png");
    background-size: cover;
}

.finish {
  background: #ffd166;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goal-img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.controls button {
  font-size: 18px;
  padding: 6px 10px;
  margin: 2px;
}

.win {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  color: white;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
